*, *::before, *::after { box-sizing: border-box}


.post-cont{
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    height: -10vh;
    margin-top: 150px;
}


.post-cont:before{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position:fixed;
    content: '';
    background-image: url("./../images/hero-light.webp");
    z-index: 0;
    background-size: cover;
    height: 100vh;
}

.square{
    position: relative;
    width: 20vw;
    height: auto;
    border-radius: 2%;
    border-top: #26c0dd 30px solid;
    padding: 18px;
    background: #f9f9f9;
}


.secret-message{
    line-height: 25px;
    color: rgb(57 57 57);
}

.wholePage{
    position: relative;
}

.postForm{
    margin-left: 740px;
}

.coloredBack{
    position: relative;
    z-index: 1;
    background-image: url('./../images/hero-background-light.webp');
    height: 200px;
}

.moreButton{
    height: 50px;
    margin-left: 250px;
    
}