*, *::before, *::after { box-sizing: border-box}


.post-cont{
    display: grid;
    grid-template-columns: repeat(4, 20vw);
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    height: -10vh;
    margin-top: 150px;
}


.post-cont:before{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position:fixed;
    content: '';
    background-image: url("./../images/hero-light.webp");
    z-index: 0;
    background-size: cover;
    height: 100vh;
}

.square{
    position: relative;
    width: 20vw;
    height: auto;
    border-radius: 2%;
    border-top: #26c0dd 30px solid;
    padding: 18px;
    background: #f9f9f9;
}


.secret-message{
    line-height: 25px;
    color: rgb(57 57 57);
}

.wholePage{
    position: relative;
}

.postForm{
    margin-left: 740px;
}

.coloredBack{
    position: relative;
    z-index: 1;
    background-image: url('./../images/hero-background-light.webp');
    height: 200px;
}

.moreButton{
    font-size: 48px;
    position: absolute;
    left: 900px;
    top: 65px;
    background-color: white;
    padding: 8px 20px;
    border-radius: 100%;
    border: 5px solid;
    border-color: rgb(228, 51, 51) rgb(228, 51, 51) rgb(97, 202, 216) rgb(97, 202, 216);
}

.paragraph{
    position:absolute;
    z-index: 1;
    left: 42%;
    top: 31%;

}

.commButt{
    width: 80px;
    height: 30px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;;
}

.commButt:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.commButt:active {
    color: #000
}

.commButt:hover:before {
    opacity: 1;
}

.commButt:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@media (max-width: 450px) {
  
    .post-cont{
        display: grid;
        grid-template-columns: repeat(3, 20vw);
        grid-gap: 30px;
        justify-content: center;
        align-content: center;
        height: -10vh;
        margin-top: 80px;
    }

    .post-cont:before{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position:absolute;
        content: '';
        background-image: url("./../images/hero-light.webp");
        z-index: 0;
        background-size: cover;
        height: auto;
    }

    .coloredBack{
        position: relative;
        z-index: 1;
        background-image: url('./../images/hero-background-light.webp');
        height: 100px;
    }


    .paragraph{
        position:relative;
        z-index: 1;
        left: 12%;
        top: 10%;
    
    }

    .commButt{
        width: 66px;
        height: 24px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        z-index: 0;
        border-radius: 15px;;
    }

    .square{
        position: relative;
        width: 25vw;
        height: auto;
        border-radius: 2%;
        border-top: #26c0dd 30px solid;
        padding: 10px;
        background: #f9f9f9;
    }

    .moreButton{
        font-size: 37px;
        position: relative;
        left: 190px;
        top: 10px;
        background-color: white;
        padding: 8px 20px;
        border-radius: 100%;
        border: 5px solid;
        border-color: rgb(228, 51, 51) rgb(228, 51, 51) rgb(97, 202, 216) rgb(97, 202, 216);
    }


}